* {
  box-sizing: border-box;
}
body {
  margin: 20px;
}
h1 {
  color: #5a96e4;
  text-align: center;
  font-size: 1.75em;
}

.pack {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

}
.pack > div {
  background-color: #d4dde2;
  margin: 1%;
}

.item {
  font-size: 1.25em;
  float: right;
  padding: 10px;
  border: 1px solid black;
  width: 30%;
  text-align: center;
}

.c {
  background-color: #e06db7;
  color: black;
}

.b {
  background-color: hotpink;
  color: #3a3cd6;
}

.s {
  background-color: #82bde7;
  color: white;
}

p {
  margin: 50px 10px 10px 10px;
}

@media (min-width: 992px) {
  .box {
    width: 31.33%;
  }
  .pack {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box {
    width: 48%;
  }

  .sushi {
    flex-grow: 1;
  }
  .pack {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .box {
    width: 100%;
  }
  .pack {
    margin-top: 10px;
  }
}
